{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Archives" %} | The soft jaguar {% endblock %}

{% block mainbar %}
    <div class="article">
        <h2>{% trans "Archives" %}</h2>
    </div>
{% for year in blog_list %}
    <div class="article">
        <h3><a href="{% url year_archives year.year %}">
            {{ year }} <small>({{ year.number_entries_year }} {% trans "entries" %})</small><br/>
        </a></h3>
        <p>
        {% for month in year.months %}
            <a href="{% url month_archives month.month year.year%}">
                <li>{{ month }} {{ year.year }} <span style="color: #000;"> ({{ month.number_entries_month }})</span></li>
            </a>
            {{ month.posts }}
        {% endfor %}
        </p>
    </div>
{% endfor %}

{% endblock %}
