{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "About me" %} | The soft jaguar {% endblock %}

{% block mainbar %}

    <div class="article">
        <h2>{% trans "About me" %}</h2>
        <div class="clr"></div>
        <table border="0">
          <tr>
            <td width="220" align="left"><a href="https://www.facebook.com/people/Dario-Blanco-Iturriaga/677357928" target="_TOP" title="Dario Blanco Iturriaga"><img src="https://badge.facebook.com/badge/677357928.7843.610559783.png" style="border: 0px;" /></a></td>
            <td><p><div align="justify">{% trans "My name is Darío Blanco and I live in Madrid, Spain. I was born in 1987, in Burgos (the never ending winter city). I have a Bachelor's Degree in Computer Engineering from the University of Burgos and currently I'm finishing my Master's Degree in Computer Engineering from the Polytechnic University of Madrid." %}</div></p>
            <p><div align="justify">{% trans "I started coding in 2005 using C, although I've used several  languages before not worth mentioning, then I tried Java (my most used language around almost 6 years) and a lot of Android, and now I'm doing projects using Python. Other languages that I've experienced have been PHP, ADA, C#, LISP, Pascal and Fortran. I love learning new technologies and languages, solve problems, take on responsibility and work in a team if I can." %}</div></p></td>
          </tr>
        </table>
    </div>

{% endblock %}
