{% load i18n %}

<div class="fbg">
  <div class="fbg_resize">
    <div class="col c1">
      <h2><span>{% trans "Image Gallery" %}</span></h2>
      <a href="{{ STATIC_URL }}gallery/image1.jpg" rel="lightbox"><img src="{{ STATIC_URL }}gallery/thumb_image1.jpg" width="58" height="58" alt="pix"/></a>
      <a href="{{ STATIC_URL }}gallery/image2.jpg" rel="lightbox"><img src="{{ STATIC_URL }}gallery/thumb_image2.jpg" width="58" height="58" alt="pix" /></a>
      <a href="{{ STATIC_URL }}gallery/image3.jpg" rel="lightbox"><img src="{{ STATIC_URL }}gallery/thumb_image3.jpg" width="58" height="58" alt="pix" /></a>
      <a href="{{ STATIC_URL }}gallery/image4.jpg" rel="lightbox"><img src="{{ STATIC_URL }}gallery/thumb_image4.jpg" width="58" height="58" alt="pix" /></a>
      <a href="{{ STATIC_URL }}gallery/image5.jpg" rel="lightbox"><img src="{{ STATIC_URL }}gallery/thumb_image5.jpg" width="58" height="58" alt="pix" /></a>
      <a href="{{ STATIC_URL }}gallery/image6.jpg" rel="lightbox"><img src="{{ STATIC_URL }}gallery/thumb_image6.jpg" width="58" height="58" alt="pix"/></a>
      <a href="{{ STATIC_URL }}gallery/image7.jpg" rel="lightbox"><img src="{{ STATIC_URL }}gallery/thumb_image7.jpg" width="58" height="58" alt="pix"/></a>
      <a href="{{ STATIC_URL }}gallery/image8.jpg" rel="lightbox"><img src="{{ STATIC_URL }}gallery/thumb_image8.jpg" width="58" height="58" alt="pix"/></a>
      <a href="{{ STATIC_URL }}gallery/image9.jpg" rel="lightbox"><img src="{{ STATIC_URL }}gallery/thumb_image9.jpg" width="58" height="58" alt="pix"/></a>

    <script type="text/javascript">
    $(function() {
        $('a[@rel*=lightbox]').lightBox(); // Select all links that contains lightbox in the attribute rel (incompatible with HTML5)
    });
    </script>
    </div>
    <div class="col c2">
        <h2><span>{% trans "Featured links" %}</span></h2>
        {% for link in link_list %}
            <a href="http://{{ link.url }}" title="{{ link.name }}" target="_blank"> {{ link.name }}</a><br/>
        {% endfor %}
    </div>
    <div class="col c3">
        <h2><span>{% trans "I'm a social animal" %}</span></h2>
        <div><a href="http://twitter.com/#!/darioblanco" target="_blank">
            <img src="{{ STATIC_URL }}images/socialicons/twitter.png" alt="twitter"/>{% trans "Follow me on Twitter" %}</a>
        </div>
        <div><a href="http://www.facebook.com/profile.php?id=677357928" target="_blank">
            <img src="{{ STATIC_URL }}images/socialicons/facebook.png" alt="facebook"/>{% trans "Add me on Facebook" %}</a>
        </div>
        <div><a href="http://es.linkedin.com/pub/dar%C3%ADo-blanco-iturriaga/26/712/891" target="_blank">
            <img src="{{ STATIC_URL }}images/socialicons/linkedin.png" alt="linkedin"/>{% trans "Add me on LinkedIn" %}</a>
        </div>
        <div><a href="http://github.com/sharkerz" target="_blank">
            <img src="{{ STATIC_URL }}images/socialicons/github.png" alt="github"/>{% trans "Follow my code on github" %}</a>
        </div>
        <div><a href="https://plus.google.com/113318641606421732499" target="_blank">
            <img src="{{ STATIC_URL }}images/socialicons/google.png" alt="google+"/>{% trans "Add me on Google +" %}</a>
        </div>
        <div><a href="{% url feed %}" target="_blank">
            <img src="{{ STATIC_URL }}images/socialicons/feed.png" alt="rssfeed"/>{% trans "Subscribe via RSS" %}</a>
        </div>
        <div><a href="mailto:dblancoit@gmail.com">
            <img src="{{ STATIC_URL }}images/socialicons/email.png" alt="email"/>{% trans "Contact me by email" %}</a>
        </div>
        <div><a href="http://www.youtube.com/user/sharkerz" target="_blank">
            <img src="{{ STATIC_URL }}images/socialicons/youtube.png" alt="youtube"/>{% trans "Follow my videos on Youtube" %}</a>
        </div>
        <div><a href="http://www.lastfm.es/user/sharkerz" target="_blank">
            <img src="{{ STATIC_URL }}images/socialicons/lastfm.png" alt="lastfm"/>{% trans "See what I listen to on last.fm" %}</a>
        </div>
    </div>
    <div class="clr"></div>
  </div>
  <div class="footer">
    <p class="lr">
        &copy; Copyright <a href="{{ STATIC_URL }}../about">darioblanco</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url privacy_policy %}">{% trans "Privacy policy" %}</a>&nbsp;&nbsp;|&nbsp;
        <a href="http://www.apache.org/licenses/LICENSE-2.0.html" target="_blank">{% trans "License" %}</a>&nbsp;&nbsp;|&nbsp;
    </p>
    <p class="lf">{% trans "Developed with" %}<a href="http://www.djangoproject.com/" target="_blank"> Django</a></p>
    <div class="clr"></div>
  </div>
</div>