{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Privacy policy" %} | The soft jaguar {% endblock %}

{% block mainbar %}
    <article class="post">

        <h1 class="entry-title">{% trans "Privacy policy" %}</h1>

        <div class="entry-content">
            <p>La política de privacidad describe como recojo, guardo o utilizo la información que recabo a través de los diferentes servicios o páginas disponibles en este sitio. Es importante que entienda que información recojo y como la utilizo ya que el acceso a este sitio implica la aceptación de mi política de privacidad.</p>
            <h3>Cookies</h3>
            <p>El acceso a este sitio puede implicar la utilización de cookies. Las cookies son pequeñas cantidades de información que se almacenan en el navegador utilizado por cada usuario para que el servidor recuerde cierta información que posteriormente pueda utilizar. Esta información permite identificarle a usted como un usuario concreto y permite guardar sus preferencias personales, así como información técnica como puedan ser visitas o páginas concretas que visite. Aquellos usuarios que no deseen recibir cookies o quieran ser informados antes de que se almacenen en su ordenador, pueden configurar su navegador a tal efecto.</p>
            <p>La mayor parte de los navegadores de hoy en día permiten la gestión de las cookies de 3 formas diferentes:</p>
              <li> Las cookies no se aceptan nunca.</li>
              <li> El navegador pregunta al usuario si se debe aceptar cada cookie.</li>
              <li> Las cookies se aceptan siempre.</li>
            <p>El navegador también puede incluir la posibilidad de especificar mejor qué cookies tienen que ser aceptadas y cuáles no. En concreto, el usuario puede normalmente aceptar alguna de las siguientes opciones: rechazar las cookies de determinados dominios; rechazar las cookies de terceros; aceptar cookies como no persistentes (se eliminan cuando el navegador se cierra); permitir al servidor crear cookies para un dominio diferente. Además, los navegadores pueden también permitir a los usuarios ver y borrar cookies individualmente.</p>
            <p>Dispone de más información sobre las Cookies en: <a href="http://es.wikipedia.org/wiki/Cookie" target="_blank">http://es.wikipedia.org/wiki/Cookie</a></p>
            <h3>Web Beacons</h3>
            <p>Este sitio puede albergar también web beacons (también conocidos por web bugs). Los web beacons suelen ser pequeñas imágenes de un pixel por un pixel, visibles o invisibles colocados dentro del código fuente de las páginas web de un sitio. Los Web beacons sirven y se utilizan de una forma similar a las cookies. Además, los web beacons suelen utilizarse para medir el tráfico de usuarios que visitan una página web y poder sacar un patrón de los usuarios de un sitio.</p>
            <p>Dispone de más información sobre los web beacons en: <a href="http://es.wikipedia.org/wiki/Web_bug" target="_blank">http://es.wikipedia.org/wiki/Web_bug</a></p>
            <h3>Terceros</h3>
            <p>En algunos casos, comparto información sobre los visitantes de este sitio de forma totalmente anónima o agregada con terceros como puedan ser anunciantes, patrocinadores o auditores con el único fin de mejorar mis servicios. Todas estas tareas de procesamiento serán reguladas según las normas legales y se respetarán todos sus derechos en materia de protección de datos conforme a la regulación vigente.</p>
            <p>Este sitio mide el tráfico con diferentes soluciones que pueden utilizar cookies o web beacons para analizar lo que sucede en mis páginas. Actualmente utilizo la siguiente solución para la medición del tráfico de este sitio. Puede ver más información sobre la política de privacidad de la solución utilizada para tal efecto:</p>
              <li><a href="http://www.google.com/intl/es_ALL/privacypolicy.html" target="_blank">Google (Analytics)</a></li>
            <p>Este sitio también puede albergar publicidad propia, de afiliados, o de redes publicitarias. Esta publicidad se muestra mediante servidores publicitarios que también utilizan cookies para mostrar contenidos publicitarios afines a los usuarios. Cada uno de estos servidores publicitarios dispone de su propia política de privacidad, que puede ser consultada en sus propias páginas web.</p>
            <p>Actualmente este sitio alberga publicidad de:</p>
              <li><a href="http://www.google.com/intl/es_ALL/privacypolicy.html" target="_blank">Google Adsense</a></li>
        </div>

        <div class="clear"></div>

    </article>
{% endblock %}
