{% load i18n %}

<div class="sidebar">
    <div class="gadget">
      <h2>{% trans "Categories" %}</h2>
      <div class="clr"></div>
      <ul class="sb_menu">
        {% for cat in cat_list %}
            <li><a href="{% url category_entries cat.id %}">{{ cat.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% if user.is_authenticated and user.is_superuser %}
        <div class="gadget">
          <h2><span>Admin</span></h2>
          <div class="clr"></div>
            <ul class="sb_menu">
                <li><a href="/admin">{% trans "Administration panel" %}</a></li>
                <li><a href="/admin/blog/entry/add/"> {% trans "Create entry" %}</a></li>
            </ul>
        </div>
    {% endif %}
     <div class="gadget_twitter">
      <div class="clr"></div>
            <script src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script>
            new TWTR.Widget({
              version: 2,
              type: 'profile',
              rpp: 4,
              interval: 30000,
              width: 200,
              height: 300,
              theme: {
                shell: {
                  background: '#dcbe6a',
                  color: '#ffffff'
                },
                tweets: {
                  background: '#ffffff',
                  color: '#000000',
                  links: '#dcbe6a'
                }
              },
              features: {
                scrollbar: false,
                loop: false,
                live: false,
                hashtags: true,
                timestamp: true,
                avatars: false,
                behavior: 'all'
              }
            }).render().setUser('darioblanco').start();
            </script>
    </div>
     <div class="gadgetalt">
      <div class="clr"></div>
        <script type="text/javascript">
        google_ad_client = "ca-pub-0626983062822089";
        /* darioblanco */
        google_ad_slot = "2120342892";
        google_ad_width = 160;
        google_ad_height = 600;
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    </div>
</div>
